.DS_Store
.env
.idea

vendor
node_modules

# Ignore all contents within the wp-* directories
wp-themes/*
wp-plugins/*
wp-uploads/*
db-dump/*

# But do not ignore the wp-* directories themselfs
!wp-themes/
!wp-plugins/
!wp-uploads/
!db-dump/

# Allow a placeholder file to keep the directories tracked
!wp-themes/.gitkeep
!wp-plugins/.gitkeep
!wp-uploads/.gitkeep
!db-dump/.gitkeep

db-dump
