.DS_Store
.env

vendor
node_modules

# Ignore all contents within the wp-* directories
wp-theme/*
wp-plugins/*
wp-uploads/*
db-dump/*

# But do not ignore the wp-* directories themselfs
!wp-theme/
!wp-plugins/
!wp-uploads/
!db-dump/

# Allow a placeholder file to keep the directories tracked
!wp-theme/.gitkeep
!wp-plugins/.gitkeep
!wp-uploads/.gitkeep
!db-dump/.gitkeep

db-dump
